 
	 

				<div class="span8 offset1 home-content-title">
					<h1>Zangraf - Digital Fotolivro</h1>
					<hr class="separador"/>
					<h2>Centro de Impressão Gráfica e Fotográfica de Formaturas</h2>
				</div>

				<div class="span9 offset1 home-content">
						<div class="project-slider">
						    <div class="callbacks_container">
						      <ul class="rslides" id="slider4">
						        <li>
						          <a href="#"><img src="assets/large/2.jpg" alt="content"></a>
						        </li>
						        <li>
						          <a href="#"><img src="assets/large/1.jpg" alt="content"></a>
						        </li>
						        <li>
						          <a href="#"><img src="assets/large/3.jpg" alt="content"></a>
						        </li>
						      </ul>
						    </div>
						</div>	
				</div>					

				<div class="span9 offset1 home-content">


					<div class="row home-features">
		                <div id="my-icon-1" class="span3">
							<div class="item">
		                        <div class="icon"><i class="icon-tablet icon-4x"></i></div>
		                        <h3>Responsive Layout</h3>
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum ullamcorper metus sit amet feugiat.</p>
							</div>
		                </div>
		                <div id="my-icon-2" class="span3">
		                	<div class="item">
		                        <div class="icon"><i class="icon-cogs icon-4x"></i></div>
		                        <h3>HTML5/CSS3 </h3>
		                        <p>Ut id leo lorem. Cras a aliquam felis. Vivamus risus enim, porttitor nec eleifend ut..</p>
		                    </div>    
		                </div>
		                <div id="my-icon-3" class="span3">
		                	<div class="item">
		                        <div class="icon"><i class="icon-beer icon-4x"></i></div>
		                        <h3>Easy to use</h3>
		                        <p>Donec nec orci varius lorem semper luctus posuere id est. Fusce tempus gravida est a..</p>
	                        </div>
		                </div>
            		</div>

				</div>
